html {
  background-color: #000000;
  color: #5cb96c;
  font-family: monospace;
  font-size: larger;
}

a {
  color: #5cb96c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 780px;
}

table {
  border: #5cb96c 1px solid;
  width: 100%;
}

th {
  background-color: #5cb96c;
  color: #000000;
  font-weight: bold;
  text-align: left;
}
